
%div
  %p Alternative currency system.
  %p Based on Mutual Credit principials.
  %p One personal account per user.
  %p Credit with no interest attached.
  %p Money implements Silvio Geshell's demurrage with 1% per month fee on any positive account balance.
  %p Also implements C. H. Douglas' social credit, where money taken out of circulation return equally to people's accounts.
  %p
    Each personal account has a limiting function on all incomming money(volume) which currently is defined by:
    %p volume <= 30000, y = x
    %p volume > 30000, y = 0.1*x
  %p account's volume resets to zero monthly.
  %p The very purpose of this is to create a system of exchange with a distributed private profit ownership among members.
  %p The main work points for now are:
  %p Research and implement cooperation models since currently cooperation is severly impaired(it is very anarchistic/individualistic).
  %p Getting user base.
