.container
  .row
    .col-md-12
      %h3 Terms & Conditions
      %p
        Introduction
      %p
        These terms and conditions govern your use of this website; by using this website, you accept these terms and conditions in full.   If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this website.
      %p
        This website uses cookies.  By using this website and agreeing to these terms and conditions, you consent to our shielded-shelf-75559's use of cookies in accordance with the terms of shielded-shelf-75559's privacy policy.
      %p
        License to use website
      %p
        Unless otherwise stated, shielded-shelf-75559 and/or its licensors own the intellectual property rights in the website and material on the website.  Subject to the license below, all these intellectual property rights are reserved.
      %p
        You may view, download for caching purposes only, and print pages from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.
      %p
        You must not:
      %p
        republish material from this website (including republication on another website);
        sell, rent or sub-license material from the website;
        show any material from the website in public;
        reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose;
        edit or otherwise modify any material on the website; or
        redistribute material from this website except for content specifically and expressly made available for redistribution.
      %p
        Where content is specifically made available for redistribution, it may only be redistributed within your organisation.
      %p
        Acceptable use
      %p
        You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.
      %p
        You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.
      %p
        You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to this website without shielded-shelf-75559 express written consent.
      %p
        You must not use this website to transmit or send unsolicited commercial communications.
      %p
        You must not use this website for any purposes related to marketing without shielded-shelf-75559 express written consent.
      %p
        Restricted access
      %p
        Access to certain areas of this website is restricted.  shielded-shelf-75559 reserves the right to restrict access to other areas of this website, or indeed this entire website, at shielded-shelf-75559 discretion.
      %p
        If shielded-shelf-75559 provides you with a user ID and password to enable you to access restricted areas of this website or other content or services, you must ensure that the user ID and password are kept confidential.
      %p
        shielded-shelf-75559 may disable your user ID and password in shielded-shelf-75559 sole discretion without notice or explanation.
      %p
        User content
      %p
        In these terms and conditions, “your user content” means material (including without limitation text, images, audio material, video material and audio-visual material) that you submit to this website, for whatever purpose.
      %p
        You grant to shielded-shelf-75559 a worldwide, irrevocable, non-exclusive, royalty-free license to use, reproduce, adapt, publish, translate and distribute your user content in any existing or future media.  You also grant to shielded-shelf-75559 the right to sub-license these rights, and the right to bring an action for infringement of these rights.
      %p
        Your user content must not be illegal or unlawful, must not infringe any third party's legal rights, and must not be capable of giving rise to legal action whether against you or shielded-shelf-75559 or a third party (in each case under any applicable law).
      %p
        You must not submit any user content to the website that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint.
      %p
        shielded-shelf-75559 reserves the right to edit or remove any material submitted to this website, or stored on shielded-shelf-75559 servers, or hosted or published upon this website.
      %p
        Notwithstanding shielded-shelf-75559 rights under these terms and conditions in relation to user content, shielded-shelf-75559 does not undertake to monitor the submission of such content to, or the publication of such content on, this website.
      %p
        No warranties
      %p
        This website is provided “as is” without any representations or warranties, express or implied.  shielded-shelf-75559 makes no representations or warranties in relation to this website or the information and materials provided on this website.
      %p
        Without prejudice to the generality of the foregoing paragraph, shielded-shelf-75559 does not warrant that:
      %p
        this website will be constantly available, or available at all; or
        the information on this website is complete, true, accurate or non-misleading.
      %p
        Nothing on this website constitutes, or is meant to constitute, advice of any kind.  If you require advice in relation to any legal, financial or medical matter you should consult an appropriate professional.
      %p
        Limitations of liability
      %p
        shielded-shelf-75559 will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:
      %p
        to the extent that the website is provided free-of-charge, for any direct loss;
        for any indirect, special or consequential loss; or
        for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.
      %p
        These limitations of liability apply even if shielded-shelf-75559 has been expressly advised of the potential loss.
      %p
        Exceptions
      %p
        Nothing in this website disclaimer will exclude or limit any warranty implied by law that it would be unlawful to exclude or limit; and nothing in this website disclaimer will exclude or limit shielded-shelf-75559 liability in respect of any:
      %p
        death or personal injury caused by shielded-shelf-75559 negligence;
        fraud or fraudulent misrepresentation on the part of shielded-shelf-75559; or
        matter which it would be illegal or unlawful for shielded-shelf-75559 to exclude or limit, or to attempt or purport to exclude or limit, its liability.
      %p
        Reasonableness
      %p
        By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable.
      %p
        If you do not think they are reasonable, you must not use this website.
      %p
        Other parties
      %p
        You accept that, as a limited liability entity, shielded-shelf-75559 has an interest in limiting the personal liability of its officers and employees.  You agree that you will not bring any claim personally against shielded-shelf-75559 officers or employees in respect of any losses you suffer in connection with the website.
      %p
        Without prejudice to the foregoing paragraph, you agree that the limitations of warranties and liability set out in this website disclaimer will protect shielded-shelf-75559 officers, employees, agents, subsidiaries, successors, assigns and sub-contractors as well as shielded-shelf-75559.
      %p
        Unenforceable provisions
      %p
        If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website disclaimer.
      %p
        Indemnity
      %p
        You hereby indemnify shielded-shelf-75559 and undertake to keep shielded-shelf-75559 indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by shielded-shelf-75559 to a third party in settlement of a claim or dispute on the advice of shielded-shelf-75559 legal advisers) incurred or suffered by shielded-shelf-75559 arising out of any breach by you of any provision of these terms and conditions, or arising out of any claim that you have breached any provision of these terms and conditions.
      %p
        Breaches of these terms and conditions
      %p
        Without prejudice to shielded-shelf-75559 other rights under these terms and conditions, if you breach these terms and conditions in any way, shielded-shelf-75559 may take such action as shielded-shelf-75559 deems appropriate to deal with the breach, including suspending your access to the website, prohibiting you from accessing the website, blocking computers using your IP address from accessing the website, contacting your internet service provider to request that they block your access to the website and/or bringing court proceedings against you.
      %p
        Variation
      %p
        shielded-shelf-75559 may revise these terms and conditions from time-to-time.  Revised terms and conditions will apply to the use of this website from the date of the publication of the revised terms and conditions on this website.  Please check this page regularly to ensure you are familiar with the current version.
      %p
        Assignment
      %p
        shielded-shelf-75559 may transfer, sub-contract or otherwise deal with shielded-shelf-75559 rights and/or obligations under these terms and conditions without notifying you or obtaining your consent.
      %p
        You may not transfer, sub-contract or otherwise deal with your rights and/or obligations under these terms and conditions.
      %p
        Severability
      %p
        If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect.  If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect.
      %p
        Entire agreement
      %p
        These terms and conditions, together with privacy policy and website disclimer constitute the entire agreement between you and shielded-shelf-75559 in relation to your use of this website, and supersede all previous agreements in respect of your use of this website.
      %p
        Law and jurisdiction
      %p
        These terms and conditions will be governed by and construed in accordance with law in Poland, and any disputes relating to these terms and conditions will be subject to the exclusive jurisdiction of the courts of Poznan.
      %p
        Registrations and authorisations
      %p
        shielded-shelf-75559 details
      %p
        The full name of shielded-shelf-75559 is shielded-shelf-75559.
      %p
        You can contact shielded-shelf-75559 by email to grzegorz.hauska@gmail.com.
      %p
        Your privacy is important to shielded-shelf-75559.  This privacy statement provides information about the personal information that shielded-shelf-75559 collects, and the ways in which shielded-shelf-75559 uses that personal information.
      %p
        Personal information collection
      %p
        shielded-shelf-75559 may collect and use the following kinds of personal information:
      %p
        information about your use of this website
        information that you provide using for the purpose of registering with the website (including email, phone number)
        information about transactions carried out over this website
        information that you provide for the purpose of subscribing to the website services  and
        any other information that you send to shielded-shelf-75559.
      %p
        Using personal information
      %p
        shielded-shelf-75559 may use your personal information to:
      %p
        administer this website;
        personalize the website for you;
        enable your access to and use of the website services;
        publish information about you on the website;
        send to you products that you purchase;
        supply to you services that you purchase;
        send to you statements and invoices;
        collect payments from you; and
        send you marketing communications.
      %p
        Where shielded-shelf-75559 discloses your personal information to its agents or sub-contractors for these purposes, the agent or sub-contractor in question will be obligated to use that personal information in accordance with the terms of this privacy statement.
      %p
        In addition to the disclosures reasonably necessary for the purposes identified elsewhere above, shielded-shelf-75559 may disclose your personal information to the extent that it is required to do so by law, in connection with any legal proceedings or prospective legal proceedings, and in order to establish, exercise or defend its legal rights.
      %p
        Securing your data
      %p
        shielded-shelf-75559 will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information.
      %p
        shielded-shelf-75559 will store all the personal information you provide [on its secure servers].
      %p
        Information relating to electronic transactions entered into via this website will be  protected by encryption technology.
      %p
        Cross-border data transfers
      %p
        Information that shielded-shelf-75559 collects may be stored and processed in and transferred between any of the countries in which shielded-shelf-75559 operates to enable the use of the information in accordance with this privacy policy.
      %p
        In addition, personal information that you submit for publication on the website will be published on the internet and may be available around the world.
      %p
        You agree to such cross-border transfers of personal information.
      %p
        Updating this statement
      %p
        shielded-shelf-75559 may update this privacy policy by posting a new version on this website.
      %p
        You should check this page occasionally to ensure you are familiar with any changes.
      %p
        Other websites
      %p
        This website contains links to other websites.
      %p
        shielded-shelf-75559 is not responsible for the privacy policies or practices of any third party.
      %p
        Contact shielded-shelf-75559
      %p
        If you have any questions about this privacy policy or shielded-shelf-75559 treatment of your personal information, please write:
      %p
        by email to grzegorz.hauska@gmail.com
      %p
        No warranties
      %p
        This website is provided “as is” without any representations or warranties, express or implied.  shielded-shelf-75559 makes no representations or warranties in relation to this website or the information and materials provided on this website.
      %p
        Without prejudice to the generality of the foregoing paragraph, shielded-shelf-75559 does not warrant that:
      %p
        this website will be constantly available, or available at all; or
        the information on this website is complete, true, accurate or non-misleading.
      %p
        Nothing on this website constitutes, or is meant to constitute, advice of any kind.  [If you require advice in relation to any [legal, financial or medical] matter you should consult an appropriate professional.]
      %p
        Limitations of liability
      %p
        shielded-shelf-75559 will not be liable to you (whether under the law of contract, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:
      %p
        to the extent that the website is provided free-of-charge, for any direct loss;
        for any indirect, special or consequential loss; or
        for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.
      %p
        These limitations of liability apply even if shielded-shelf-75559 has been expressly advised of the potential loss.
      %p
        Exceptions
      %p
        Nothing in this website disclaimer will exclude or limit any warranty implied by law that it would be unlawful to exclude or limit; and nothing in this website disclaimer will exclude or limit shielded-shelf-75559 liability in respect of any:
      %p
        death or personal injury caused by shielded-shelf-75559 negligence;
        fraud or fraudulent misrepresentation on the part of shielded-shelf-75559; or
        matter which it would be illegal or unlawful for shielded-shelf-75559 to exclude or limit, or to attempt or purport to exclude or limit, its liability.
      %p
        Reasonableness
      %p
        By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable.
      %p
        If you do not think they are reasonable, you must not use this website.
      %p
        Other parties
      %p
        You accept that, as a limited liability entity, shielded-shelf-75559 has an interest in limiting the personal liability of its officers and employees.  You agree that you will not bring any claim personally against shielded-shelf-75559 officers or employees in respect of any losses you suffer in connection with the website.
      %p
        Without prejudice to the foregoing paragraph, you agree that the limitations of warranties and liability set out in this website disclaimer will protect shielded-shelf-75559 officers, employees, agents, subsidiaries, successors, assigns and sub-contractors as well as shielded-shelf-75559.
      %p
        Unenforceable provisions
      %p
        If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website disclaimer.
      %p
        Credit
      %p
        This document was created using a Contractology template available at http://www.freenetlaw.com.
